<!DOCTYPE html>
<html>
    <head>
        <title>BootStrap Tutrials</title>
        <!-- Site Charset -->
        <meta charset="utf-8">
        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">

        <!-- OWL SLIDER -->
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="css/owl.theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/owl.transitions.css" rel="stylesheet" type="text/css"/>

        <!-- BootStrap StyleSheets -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
        <!-- Main StyleSheet -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="en.css">
        <link href="css/media.css" rel="stylesheet" type="text/css"/>

        <!-- Media Quieries Browser Support -->
        <script type="text/javascript" src="js/respond.min.js"></script>
        <script type="text/javascript" src="js/html5shiv.min.js"></script>

    </head>
    <body>
        <header>
            <div class="menu">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">

                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#">HOME</a></li>
                                <li><a href="#">ONLINE SHOPPING</a></li>
                                <li><a href="#">PERSONAL TRAINING</a></li>
                                <li><a href="#">CONTACT</a></li>
                                <li><a href="#">SHOPPING CART</a></li>
                                <li><a href="#">SIGN OUT</a></li>
                                <li><a href="#"><img src="images/ar.png" /></a></li>
                            </ul>

                        </div>
                    </div>
                </nav>
                <div class="logo2">
                    <a href="#">logo</a>
                </div>
            </div><!-- end menu -->
        </header>


        <div class="item">
            <div class="container">
                <div class="top cont">
                    <ul class="list-inline">
                        <li>
                            <div class="box">
                                <div class="group">
                                    <img src="images/s.png" />
                                    <h3 class="name"><a href="#">Uniforms</a></h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box text-center">
                                <img src="images/s2.png" />
                                <h3 class="name"><a href="#">Protection Gear</a></h3>
                            </div>
                        </li>

                        <li>
                            <div class="box text-center">
                                <img src="images/s3.png" />
                                <h3 class="name"><a href="#">Training Equipment</a></h3>
                            </div>
                        </li>
                        <li>
                            <div class="box text-center">
                                <img src="images/s4.png" />
                                <h3 class="name"><a href="#">Accessories</a></h3>
                            </div>
                        </li>
                        <li>
                            <div class="box text-center">
                                <img src="images/s5.png" />
                                <h3 class="name"><a href="#">Physio Equipment</a></h3>
                            </div>
                        </li>
                    </ul>
                </div><!---->
                <div class="product">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="box">
                                <div class="color">
                                    <img src="images/c3.png" />
                                    <img src="images/c2.png" />
                                </div>
                                <!-- Button trigger modal -->
                                <img src="images/" class="img-responsive" data-toggle="modal" data-target="#myModal">
                                <h3 class="name">Protection Suit</h3>
                                <h4 class="price"><span class="dis">BD 15.000</span>BD 8.000</h4>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="row">

                                                <div class="col-md-7">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <img id="zoom_09" src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image3.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg" class="img-responsive">

                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="row">
                                                                <div id="gallery_09" >
                                                                    <a href="#" class="elevatezoom-gallery" data-update="" data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg">
                                                                    <img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" width="70"></a>

                                                                    <a href="#" class="elevatezoom-gallery" data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image2.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image2.jpg"><img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image2.png" width="70"></a>

                                                                    <a href="tester" class="elevatezoom-gallery active" data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image3.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image3.jpg">
                                                                    <img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image3.png" width="70">
                                                                    </a>

                                                                    <a href="tester" class="elevatezoom-gallery" data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image4.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image4.jpg"><img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image4.png" width="70"></a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="row">
                                                        <h1 class="head">MMA Boxing Shorts</h1>
                                                        <p class="style">Some information about the item
                                                            where it’s made and what fabric and such
                                                            More informatio of what’s the itme for
                                                        </p>
                                                        <h4>Category: Uniforms</h4>
                                                        <div class="size"><i class="margin">size</i>  
                                                            <a class="btn btn-default btn-select">
                                                                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                                                <span class="btn-select-value">Select an Item</span>
                                                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                                                <ul>
                                                                    <li>l</li>
                                                                    <li class="selected">xl</li>
                                                                    <li>xxl</li>
                                                                    <li>xxxl</li>
                                                                </ul>
                                                            </a>
                                                        </div>
                                                        <div class="choose"> <i class="margin">color</i> 
                                                            <a class="btn btn-default btn-select">
                                                                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                                                <span class="btn-select-value">Select an Item</span>
                                                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                                                <ul>
                                                                    <li><img src="images/cc.png" /></li>
                                                                    <li class="selected"><img src="images/cc.png" /></li>
                                                                    <li><img src="images/cc.png" /></li>
                                                                    <li><img src="images/cc.png" /></li>
                                                                </ul>
                                                            </a>
                                                        </div>
                                                        <span class="dis">BD 15.000</span>
                                                        <h4 class="price">BD 8.000</h4>

                                                        <div class="add">
                                                            <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                            <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!---->

                        <div class="col-md-4 col-sm-6">
                            <div class="box">

                                <!-- Button trigger modal -->
                                <img src="images/p2.png" class="img-responsive" data-toggle="modal" data-target="#myModal2">
                                <h3 class="name">TKD Uniform Suit</h3>
                                <h4 class="price">BD 9.500</h4>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="head">MMA Boxing Shorts</h1>
                                                    <p class="style">Some information about the item
                                                        where it’s made and what fabric and such
                                                        More informatio of what’s the itme for
                                                    </p>
                                                    <h4 class="price">BD 8.000</h4>
                                                    <div class="add">
                                                        <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                        <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!---->

                        <div class="col-md-4 col-sm-6">
                            <div class="box">
                                <div class="color">
                                    <img src="images/c3.png" />
                                    <img src="images/c2.png" />
                                    <img src="images/c1.png" />
                                </div>
                                <!-- Button trigger modal -->
                                <img src="images/p.png" class="img-responsive" data-toggle="modal" data-target="#myModal3">
                                <h3 class="name">MMA Boxing Shorts</h3>
                                <h4 class="price"><span class="dis">BD 15.000</span>BD 8.000</h4>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="head">MMA Boxing Shorts</h1>
                                                    <p class="style">Some information about the item
                                                        where it’s made and what fabric and such
                                                        More informatio of what’s the itme for
                                                    </p>
                                                    <span class="dis">BD 15.000</span>
                                                    <h4 class="price">BD 8.000</h4>
                                                    <div class="add">
                                                        <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                        <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------->
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="color">
                                <img src="images/c3.png" />
                                <img src="images/c2.png" />
                            </div>
                            <!-- Button trigger modal -->
                            <img src="images/p5.png" class="img-responsive" data-toggle="modal" data-target="#myModal4">
                            <h3 class="name">Aikido Uniform Suit</h3>
                            <h4 class="price"><span class="dis">BD 15.000</span>BD 8.000</h4>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="col-md-6">
                                                <h1 class="head">MMA Boxing Shorts</h1>
                                                <p class="style">Some information about the item
                                                    where it’s made and what fabric and such
                                                    More informatio of what’s the itme for
                                                </p>
                                                <span class="dis">BD 15.000</span>
                                                <h4 class="price">BD 8.000</h4>
                                                <div class="add">
                                                    <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                    <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!---->

                    <div class="col-md-4 col-sm-6">
                        <div class="box">

                            <!-- Button trigger modal -->
                            <img src="images/p4.png" class="img-responsive" data-toggle="modal" data-target="#myModal5">
                            <h3 class="name">TKD Uniform Suit</h3>
                            <h4 class="price">BD 8.000</h4>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="col-md-6">
                                                <h1 class="head">MMA Boxing Shorts</h1>
                                                <p class="style">Some information about the item
                                                    where it’s made and what fabric and such
                                                    More informatio of what’s the itme for
                                                </p>
                                                <h4 class="price">BD 8.000</h4>
                                                <div class="add">
                                                    <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                    <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!---->
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="color">
                                <img src="images/c3.png" />
                                <img src="images/c2.png" />
                                <img src="images/c5.png" />
                            </div>
                            <!-- Button trigger modal -->
                            <img src="images/p3.png" class="img-responsive" data-toggle="modal" data-target="#myModal6">
                            <h3 class="name">Judo Uniform Suit</h3>
                            <h4 class="price">BD 8.000</h4>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="col-md-6">
                                                <h1 class="head">MMA Boxing Shorts</h1>
                                                <p class="style">Some information about the item
                                                    where it’s made and what fabric and such
                                                    More informatio of what’s the itme for
                                                </p>
                                                <h4 class="price">BD 8.000</h4>
                                                <div class="add">
                                                    <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                    <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!---->
                    <!----------------->
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="color">
                                <img src="images/c3.png" />
                                <img src="images/c5.png" />
                            </div>
                            <!-- Button trigger modal -->
                            <img src="images/p6.png" class="img-responsive" data-toggle="modal" data-target="#myModal">
                            <h3 class="name">TKD Full Protection Suit</h3>
                            <h4 class="price"><span class="dis">BD 15.000</span>BD 8.000</h4>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="col-md-6">
                                                <h1 class="head">MMA Boxing Shorts</h1>
                                                <p class="style">Some information about the item
                                                    where it’s made and what fabric and such
                                                    More informatio of what’s the itme for
                                                </p>
                                                <span class="dis">BD 15.000</span>
                                                <h4 class="price">BD 8.000</h4>
                                                <div class="add">
                                                    <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                    <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="box">

                            <!-- Button trigger modal -->
                            <img src="images/" class="img-responsive" data-toggle="modal" data-target="#myModal2">
                            <h3 class="name">TKD Adidas Uniform Suit</h3>
                            <h4 class="price">BD 8.000</h4>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="col-md-6">
                                                <h1 class="head">MMA Boxing Shorts</h1>
                                                <p class="style">Some information about the item
                                                    where it’s made and what fabric and such
                                                    More informatio of what’s the itme for
                                                </p>
                                                <h4 class="price">BD 8.000</h4>
                                                <div class="add">
                                                    <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                    <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!---->

                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="color">
                                <img src="images/c2.png" />
                                <img src="images/c7.png" />
                                <img src="images/c6.png" />
                            </div>
                            <!-- Button trigger modal -->
                            <img src="images/" class="img-responsive" data-toggle="modal" data-target="#myModal3">
                            <h3 class="name">MMA Tank Top</h3>
                            <h4 class="price"><span class="dis">BD 15.000</span>BD 8.000</h4>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="col-md-6">
                                                <h1 class="head">MMA Boxing Shorts</h1>
                                                <p class="style">Some information about the item
                                                    where it’s made and what fabric and such
                                                    More informatio of what’s the itme for
                                                </p>
                                                <span class="dis">BD 15.000</span>
                                                <h4 class="price">BD 8.000</h4>

                                                <div class="add">
                                                    <a class="btn btn-default" href="#" role="button"> Add To Cart</a>
                                                    <a class="btn btn-default" href="#" role="button">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---->
            </div>
        </div>


        <footer>
            <div class="container">
                <div class="social">
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
                    <br />
                    <span>@sporttodoorBAH</span>
                </div>
                <p class="copy">© 2016 Sport to Door, All Rights Reserved.</p>
            </div>
        </footer>
        <!-- JavaScript -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script src="js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="http://www.elevateweb.co.uk/wp-content/themes/radial/jquery.elevatezoom.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
